# Hardhat
/artifacts/
/build/
/cache/
/export/
/external/npm
/typechain/
/export.json
/deployments/*
!/deployments/mainnet/
!/deployments/optimisticEthereum/

# OZ
/.openzeppelin/unknown-*.json
!/.openzeppelin/unknown-42161.json
