name: Code Format Checks

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  code-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "14"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install

      - name: Check formatting
        run: yarn format
